.edit-form__form-input{
  width: 100%;
  max-height: 17px;
  background-color: transparent;
  border: none;
  font-family: inherit; 
}

.edit-form__form-input:focus{
  outline-color: transparent;
  color: #000000;
}
