.edit-form__form-input{
  min-width: 358px;
  max-height: 17px;
  background-color: transparent;
  border: none;
  font-family: inherit; 
  padding: 0;
}

.edit-form__form-input:focus{
  outline-color: transparent; 
  color: #000000;
}
