.popap__form-vocation{
  width: 100%;
  padding: 0 0 11px 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  font-family: inherit; 
  margin-top: 30px;
}

.popap__form-vocation:focus{
  outline-color: transparent;
  color: #000000;
}
